@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  cursor: none;
  box-sizing: border-box; /* Add this line */
}

.cursor {
  width: 34px;
  height: 34px;
  border: 2px solid #4f46e5;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  transition: all 0.6s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cursor-dot {
  width: 10px;
  height: 10px;
  background-color: #eb0680;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  z-index: 9999;
}

a, button, input, textarea, [role="button"] {
  cursor: none !important;
}

a:hover ~ .cursor,
button:hover ~ .cursor {
  transform: scale(1.5);
  background-color: rgba(79, 70, 229, 0.1);
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
  width: 100%; /* Add this line */
  overflow-x: hidden; /* Add this line */
  background-color: black;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow-y: auto;
  width: 100%; /* Ensure this line is present */
  overflow-x: hidden; /* Ensure this line is present */
  line-height: 1.5;
  color: #f8fafc;
  background-image: url('https://raw.githubusercontent.com/itsvijaysingh/My-Portfolio/refs/heads/main/assets/images/dark-bg.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  background-attachment: fixed; 
}
body.night-mode {
  background-image: none;
  /* background-color: #1a202c; */
  background-size: cover;
}
.about{
  background-image: url('https://res.cloudinary.com/du15dlpjn/image/upload/v1740324983/grid_tonasc.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  background-attachment: fixed; 
}
section {
  min-height: 100vh;
  padding: 5rem 0;
  display: flex;
  align-items: center;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

.hover-card {
  transition: all 0.3s ease;
}

.hover-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.gradient-text {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-blue-400 to-blue-600;
}
